// SECTION: Variables
$font-family-sans-serif: 'Saira Variable', sans-serif;
$font-family-monospace: 'Saira Variable', monospace;
$font-family-serif: 'Saira Variable', serif;
$font-family-base: $font-family-sans-serif !default;
$fa-font-path: '../webfonts' !default;
